name: Sync to Hugging Face

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Setup LFS
        run: |
          git lfs install
          git lfs migrate import --include="*.pdf,*.png,*.jpg,*.jpeg" --everything
          git lfs push --all origin

      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_SYNC }}
        run: git push --force https://Raja3105:$HF_TOKEN@huggingface.co/spaces/Raja3105/raja-roy-portfolio main
